.cardsMain{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.CardsWrapperWithDetails{
  
  flex-direction: column;
  width:30%;
}
// .CardDetails{
//   flex-direction: column;
// }
@media (max-width:768px) {
  .CardsWrapper {
    display: block;
  }
}
